/* Left Panel Dropdown */
.data-container{
	padding : 1em;
	margin:0.5em;
	background:rgba(255, 255, 255, 1);
}
.directory,.directory-list{
	cursor : pointer;
	background : white;
	transition : all 1s ease;
	font-size : 11pt;
}
.directory{width:100%;}
.directory-list{list-style: none; padding-inline-start:15px;}
.directory-list li:active{width:100%; border:none;}
.directory ul > li { overflow:hidden; }
.directory-header > .fas.fa-angle-right{transform:rotate(90deg);}
.directory-header.collapsed > .fas.fa-angle-right{transform:rotate(0deg);}
.directory-header >  .fas{color:inherit;}

body.dark .directory{}
body.dark .directory-list{
		background : rgba(50, 50, 50, 1) !important;
		color : rgba(250, 250, 250, 1);
}

/* Data Tables Section */
.table-container{
	overflow: auto;
	width:100%;
	height:37.5vh;
	margin-top : 4vh;
	margin-bottom : 2vh;
	padding : 0pt;
	transition : all 1s ease;
	font-size : 9pt;
	scrollbar-width: none; /* Firefox */
  	-ms-overflow-style: none;  /* IE 10+ */
	/* box-shadow : 0pt 2pt 10pt rgba(50, 50, 50, 0.2); */
}
.table-container th,td{
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	padding: 7px 15px;
	border : 1pt solid rgba(0, 0, 0, 0.05);
}
.table-container thead th {
	background:rgba(200, 200, 255, 1);
	top: 0;
	z-index : 1;
}
.table-container thead th:first-child {
	left: 0;
	top:0;
	z-index: 1;
	padding : 10px 5px;
}
.table-container tbody th {
	left: 0;
	background:inherit;
	color : rgba(50, 50, 50, 1);
	z-index: 1;
	padding : 10px 5px;
}
.table-container .table-title{
	width : 100%;
	font-variant : small-caps;
	text-align : center;
	position : sticky;
	top: 0;
	left:0;
	font-size : 12pt;
	background:inherit;
}
.table-container tr:nth-child(2n+1){background:rgba(215, 215, 215, 1);}
.table-container tr:nth-child(2n){background:rgba(250, 250, 250, 1);}
.table-container tr:hover{background:rgba(205, 205, 205, 1);}
::-webkit-scrollbar {
    display: none;
	width:0px;
	background:transparent;
}
body.dark .table-container thead th {background:rgba(100, 100, 155, 1);}
body.dark .table-container tr:nth-child(2n+1){background:rgba(20, 20, 20, 1);}
body.dark .table-container tr:nth-child(2n){background:rgba(0, 0, 0, 1);}

/* General style */
*{
	scrollbar-width: none; /* Firefox */
  	-ms-overflow-style: none;  /* IE 10+ */
}
body.dark{
	background:rgba(0, 0, 10, 1);
	color : white;
}

/* Navigation element */
#nav{
	/* background:rgba(44, 84, 156, 1); */
	background : linear-gradient(to bottom right, #614385, #516395);
}
body.dark #nav{
	background:linear-gradient(165deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3), rgba(250, 250, 250, 0), rgba(255, 255, 255, 0));
}
body.dark .nav-tabs .nav-link.active{
	background:rgba(250, 250, 250, 0.2) !important;
}

#footer{
	background:linear-gradient(rgba(250, 250, 250, 0), rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.3), rgba(255, 255, 255, 1));
}
body.dark #footer{
	background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}

#upload{
	position: fixed;
	right : 20pt;
	bottom : 20pt;
	font-size : 25pt;
	color : white;
	border-radius : 50%;
	height : 40pt;
	width : 40pt;
	text-align: center;
	background : rgba(182, 66, 245,1);
	cursor:pointer;
	z-index : 10;
}
#upload:hover{
	color : black;
}
#folders_view{
	overflow : auto;
	max-height : 90vh;
}
#folders_view fieldset{
	margin-top : 10pt;
	margin-left : 10pt;
	width : 100%;
}
#folders_view .folder-element{
	display:inline-block;
	width : 23.5%;
	border-radius : 5pt;
	font-size : 12pt;
	padding : 10pt;
	margin : 10pt 0.75% 10pt 0.75%;
	border : 1pt solid rgba(200, 200, 200, 1);
	word-break: unset;
	overflow : hidden;
	word-wrap: unset;
	overflow-wrap: unset;
	-webkit-hyphens: unset;
	-moz-hyphens: unset;
	-ms-hyphens: unset;
	hyphens: unset;
	white-space: nowrap;
	text-overflow : ellipsis;
	box-shadow : 0pt 0pt 20pt rgba(50, 50, 50, 0.3);
	color : rgba(70, 70, 70, 1);
}

#folders_view .folder-element i{
	font-size : 14pt;
	margin-right : 10pt;
	text-align : center;
	color : rgba(120, 120, 120, 1);
}

@keyframes marquee{
	0% {left : 0%;}
	50% {left : -100%;}
	100% {left : 0%;}
}
#folders_view .folder-element #text:hover{
	background : white;
	animation : animation: marquee 5s linear infinite;
}

keyword{
	display : inline-block;
	padding-left : 20pt;
	padding-right : 20pt;
	margin-top : 10pt;
	margin-left : 5pt;
	background : rgba(0, 0, 0, 1);
	color : white;
	border-radius : 10pt;
}
.dropdown-item:hover {
	background : rgba(150, 150, 150, 1);
	cursor : pointer;
}
