<div class="container text-center py-3 my-3" style="height:60vh">
	<h1>Drat! A 404.</h1><br>
	<h3>Unfortunately the requested file was not found</h3>
	<a class="btn btn-primary" href="{{url_for('home')}}" role="button">Go Back</a>
</div>
