<div class="container text-center py-3 my-3" style="height:60vh">
	<h1>We're losing you out on a 504.</h1><br>
	<h3>The server is currently under heavy load and is unable to respond within the time frame.</h3>
</div>
