<div class="container">
	<div class="row justify-content-center align-items-center">
		<form class="form-signin p-5 mt-5 shadow" action="{{url_for('signup')}}" method="POST">
			{{ form.csrf_token }}
				<div class="text-center mb-4">
			<i class="fa fa-users" style="font-size:36px"></i>
			</div>
				<div class="form-group">
					{% if form.user_id.errors %}
						{{form.user_id(class="form-control is-invalid")}}
						<div class="invalid-feedback">
						{% for error in form.user_id.errors %}
							<span>{{error}}</span>
						{% endfor %}
						</div>
					{% else %}
						{{form.user_id(class="form-control")}}
					{% endif %}
				</div>
				<div class="form-group row">
					<div class="col">
						{% if form.first_name.errors %}
							{{form.first_name(class="form-control is-invalid")}}
							<div class="invalid-feedback">
							{% for error in form.first_name.errors %}
								<span>{{error}}</span>
							{% endfor %}
							</div>
						{% else %}
							{{form.first_name(class="form-control ")}}
						{% endif %}
					</div>
					<div class="col">
						{% if form.last_name.errors %}
							{{form.last_name(class="form-control is-invalid")}}
							<div class="invalid-feedback">
							{% for error in form.last_name.errors %}
								<span>{{error}}</span>
							{% endfor %}
							</div>
						{% else %}
							{{form.last_name(class="form-control")}}
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					{% if form.password.errors %}
						{{form.password(class="form-control is-invalid")}}
						<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{error}}</span>
						{% endfor %}
						</div>
					{% else %}
						{{form.password(class="form-control")}}
					{% endif %}
				</div>
				<div class="form-group">
					{% if form.confirm_password.errors %}
						{{form.confirm_password(class="form-control is-invalid")}}
						<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span>{{error}}</span>
						{% endfor %}
						</div>
					{% else %}
						{{form.confirm_password(class="form-control")}}<br>
					{% endif %}
				</div>
			{% if error %}
				<span class="" style="color:red">{{error}}</span><br><br>
			{%endif%}
			<button class="btn btn-lg btn-primary btn-block" onclick="environment.security_manager.submit_form(this, '/signup')">Sign Up</button>
		</form>
	</div>
</div>
